Package: scq-setup
Version: 1.2
Maintainer: Rafael Rodríguez <rrodriguezg@santiagodecompostela.gal>
Depends: python-cups, x11vnc
Architecture: all
Description: Configuraciones iniciales de equipos de escritorio. Incorpora cambios personalizados para equipos de Centros, como la activación de la cuenta de invitado. 
	Distribución: Ubuntu MATE 18.04
