Package: setup-scq
Version: 1.3
Maintainer: Rafael Rodríguez <rrodriguezg@santiagodecompostela.gal>
Architecture: amd64
Description: Configuraciones iniciales de equipos de escritorio. Incluye cambios en GRUB, deshabilitar servicios, etc.
